# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\MDrap\OneDrive\Documents\University of St Andrews\Year 3\CS3105 - Artificial Intelligence\CS3105-P1-LateBinding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
